annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
filelock
fsspec
h11
huggingface-hub
HyperPyYAML
idna
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pydantic_core
python-multipart
PyYAML
regex
requests
ruamel.yaml
ruamel.yaml.clib
safetensors
scipy
sentencepiece
setuptools
sniffio
speechbrain
starlette
sympy
tokenizers
torch
torchaudio
tqdm
transformers
typing_extensions
urllib3
uvicorn    
noisereduce 
pyannote.audio 
openai-whisper
dotenv
ffmpeg-python
apscheduler
websockets